.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  gap: 32px;
}

.intro {
  font-size: 30px;
  font-weight: 500;
  max-width: 700px;
  -webkit-text-stroke: 1px rgb(107, 107, 107);
  text-shadow: 1px black;
}

.list {
  list-style: none;
  padding: 0;
  font-size: 28px;
  line-height: 1.8;
  -webkit-text-stroke: 0.5px rgb(107, 107, 107);
  text-shadow: 1px black;
}