
.page::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/malumoka.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: 0;
}
