.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  gap: 24px;
  font-size: 12px;
}   